
.header{
  border-bottom: 1px solid grey;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  .logo-container{
    height: 100%;

    .logo{
      height: 100%;
      width: 40px;
      padding: 10px;
    }
  }

  .header-title{
    .header-title-content{
      font-family: 'Lobster', cursive;
      color: rgba(41,41,41,0.73);
    }
  }
  .options{
    padding: 20px;
    .option{
      padding: 10px;
      cursor: pointer;
      font-family: 'Open Sans Condensed', sans-serif;
      text-decoration:none;
      color: black;
    }
  }
}
